/* ------ Colors ------- */
$red: #c20502;
$lt-red: #ff012c99;
$purple: #9d1fec;
$bright-blue: #00ABED;
$green: #73a753;
$lt-blue: #0078DBAF;
$off-white: #D8D5DB;
$dk-gray: #313030;
$black: #000;
$white: #fff;
$lt-pink: #f88e8e;
$yellow: #fcea4d;
$orange: #faad3f;

//#f8f8f8
// New colors
// Light Blue: #4de4db
// Red: #f6647d
// Yellow: #fcea4d