@import "_variables.scss";

body {
    ::selection {
        background: $lt-pink; /* WebKit/Blink Browsers */
    }
    ::-moz-selection {
        background: $lt-pink; /* Gecko Browsers */
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,.25);
    box-shadow: 0px 5px 8px 2px rgba(0,0,0,.25);
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;

    .logo-wrap {
        @media screen and (max-width: 991px) {
            display: none;
        }

        img {
            transform: scale(1);
            transition: .35s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .mobile-logo {
        display: none;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }

        @media screen and (max-width: 991px) {
            display: block;
            margin: auto;
        }

        .logo-top {
            max-width: 145px;
            display: inline-block;

            @media screen and (max-width: 991px) {
                padding-left: 25px;
            }

            @media screen and (max-width: 600px) {
                max-width: 125px;
                padding-left: 0;
            }

            @media screen and (max-width: 500px) {
                max-width: 100px;
            }
        }

        .logo-bottom {
            max-width: 200px;
            display: inline-block;

            @media screen and (max-width: 600px) {
                max-width: 175px;
            }

            @media screen and (max-width: 500px) {
                max-width: 150px;
            }

            @media screen and (max-width: 400px) {
                display: none;
            }

            img {
                padding: 0;
            }
        }

        img {
            padding: 0 15px;
            transform: scale(1);
            transition: .35s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .social-icons {
        @media screen and (max-width: 991px) {
            display: none;
        }

        .fa-github, .fa-linkedin, .fa-bolt, .fa-file-pdf, .fa-instagram {
            color: #313030;
            font-size: 30px;
            margin-right: 10px;
            transform: scale(1);
            transition: .35s all;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width: 991px) {
        height: 70px;
        position: relative;
        width: 100%;
        padding: 0;

        &.main {
            z-index: 400;
        }

        &.clone {
            opacity: 0;
            width: 100%;
            transform: translateY(-100%);
            transition-duration: 0.7s;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            visibility: hidden;
        }

        &.sticky {
            visibility: visible;
            opacity: 1;
            transform: translateY(0%);
            z-index: 600;
        }
    }
}

.content-area {
    margin-left: 250px;
    color: $black;

    @media screen and (max-width: 991px) {
        margin-left: 0;
    }

    section {
        padding: 4% 0;
    }

    .u-container-width {
        width: 1200px;
        max-width: 100%;
        margin: auto;
        padding: 0 15px;
    }

    .sec-title {
        text-align: center;
        margin-bottom: 4%;

        @media screen and (max-width: 991px) {
            margin-top: 6%;
            margin-bottom: 6%;
        }

        h1 {
            font-size: 250%;
            font-weight: 300;
            position: relative;
            display: inline-block;
            line-height: 1.2;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;

            &:after {
                content: "";
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 2px;
                background: $black;
            }
        }
    }

    .list-btn {
        text-align: center;
        margin-bottom: 4%;

        button {
            -webkit-transition: .35s all;
            transition: .35s all;
            -webkit-box-shadow: 0px 5px 8px 2px rgba(0,0,0,.25);
            box-shadow: 0px 5px 8px 2px rgba(0,0,0,.25);
            text-decoration: none;
            font-family: "Dosis",Arial,Helvetica,sans-serif;
            padding: 8px 25px;
            display: inline-block;
            text-transform: uppercase;
            color: $white;
            font-size: 110%;
            border-radius: 5px;
            position: relative;
            -webkit-transform: scale(1);
            transform: scale(1);
            background: $green;
            border: none;
            cursor: pointer;

            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    .results {
        display: flex;
        flex-flow: row wrap;

        @media screen and (max-width: 750px) {
            justify-content: center;
        }

        .box {
            border-radius: 5px;
            background: $white;
            padding: 25px;
            -webkit-box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 20%);
            box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 20%);
            flex: 1;
            margin-right: 2%;
            flex-direction: column;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 750px) {
                flex: 0 1 260px;
                margin-right: 4%;
                margin-bottom: 25px;
                min-width: 260px;
            }

            &:last-of-type {
                margin-right: 0;
            }

            .numbers-wrapper {
                margin-bottom: 5px;
                text-align: center;

                &:nth-of-type(1) {
                    margin-bottom: 7px;
                }

                .number {
                    font-size: 30px;
                    line-height: 1;
                    font-weight: 500;
                }

                button.update {
                    margin-top: 20px;
                    transition: 0.35s all;
                    text-decoration: none;
                    font-family: "Dosis", Arial, Helvetica, sans-serif;
                    padding: 5px 15px;
                    display: inline-block;
                    text-transform: uppercase;
                    color: $white;
                    font-size: 14px;
                    border-radius: 5px;
                    position: relative;
                    transform: scale(1);
                    border: none;
                    cursor: pointer;
                }
            }

            .data-row {
                margin: 15px 0;
                text-align: center;

                h3 {
                    font-weight: 500;
                    font-size: 20px;
                }
            }
        }

        .title {
            text-align: center;
            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 0;
            }

            > h2 {
                text-decoration: underline;
                font-size: 22px;
                margin-bottom: 15px;
                font-weight: 400;
            }

            > h3 {
                font-size: 18px;
                font-weight: 400;
            }
        }

        .info {
            //blue
            border: 2px solid $lt-blue;

            .numbers-wrapper .number, .data-row {
                color: $lt-blue;
            }

            .entries-info button.update {
                background: $bright-blue;
            }
        }

        .info-text {
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
        }

        .warn {
            // purple
            border: 2px solid $yellow;

            .numbers-wrapper .number, .data-row {
                color: $yellow;
            }

            .entries-warn button.update {
                background: $yellow;
                color: $black;
            }
        }

        .warn-text {
            background-color: $yellow;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }

        .error {
            // red
            border: 2px solid $lt-red;

            .numbers-wrapper .number, .data-row {
                color: $lt-red;
            }

            .entries-error button.update {
                background: $red;
            }
        }

        .error-text {
            background-color: $red;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
        }
    }

    .about {
        margin: 4% auto;
        border: 2px solid $green;
        text-align: center;
        border-radius: 5px;
        background: $white;
        padding: 25px;
        -webkit-box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 20%);
        box-shadow: 0px 5px 9px 1px rgb(0 0 0 / 20%);
        max-width: 870px;

        h3 {
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5em;
        }

        .highlight {
            position: relative;
            display: inline-block;
            z-index: 1;

             &:after {
                 content: "";
                 height: 15px;
                 position: absolute;
                 left: 0;
                 top: 5px;
                 padding: 0 10px;
                 width: 85%;
                 display: block;
                 z-index: -1;
                 //background-color: rgb(115 167 83 / 60%);
                 background-color: rgba(0,219,206,.69);
                 -webkit-transition: .35s ease-in-out;
                 transition: .35s ease-in-out;
             }
        }

        .highlight-two {
            position: relative;
            display: inline-block;
            z-index: 1;

            &:after {
                content: "";
                height: 15px;
                position: absolute;
                left: 0;
                top: 5px;
                padding: 0 10px;
                width: 85%;
                display: block;
                z-index: -1;
                background-color: rgba(255,228,0,.69);
                -webkit-transition: .35s ease-in-out;
                transition: .35s ease-in-out;
            }
        }

        .highlight-three {
            padding: 0.2rem 0.4rem;
            font-size: 90%;
            color: #bd4147;
            background-color: #e0e0e0;
            border-radius: 0.25rem;
        }
    }
}